/* global styles */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Raleway';
    src: src: url('../fonts/Raleway-ExtraBold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;

}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #647788;
  border: 0px none #ffffff;
  border-radius: 72px;
}
::-webkit-scrollbar-thumb:hover {
  background: #675a71;
}
::-webkit-scrollbar-thumb:active {
  background: #47455c;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background: -webkit-linear-gradient(top, rgb(100, 224, 133) 0%, rgb(252, 255, 232) 0%, rgba(96,130,185,1) 100%);
    background-attachment: fixed;
    overflow: hidden;
}
h2, p {
    margin: 2px 0;
    padding: 0;
}

/* main layout styles */
#main {
    
    /* anti-blur lag */
    filter: blur(0px);
    will-change: filter;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    
    
    
    
    
    display: none;

    height: 100vh;
    width: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 2fr 38fr 2fr 36fr 12fr;
    grid-template-areas:
        "title settings"
        "gamesT mostT"
        "games most"
        "games suggestedT"
        "games suggested"
        "whitespace whitespace";
    
    transition: filter 1s;
}
.blur {
    filter: blur(3px);
}
.title {
    grid-area: title;
    padding: 10px;
}
.settings {
    grid-area: settings;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content:flex-end;
    padding-right: 20px;
}
.settings-container {
    color: #746c7b;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content:flex-end;
    cursor: pointer;
}
.settings-container:hover {
    color: #000;
}
.txt-settings {
    display: inline-block;
    margin-right: 10px;
}
.gamesT {
    grid-area: gamesT;
    padding: 0 0 0 10px;
}
.games {
    grid-area: games;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(50vw / 6));
    grid-template-rows: repeat(auto-fill, calc(50vw / 6 * 1.43) /* WARNING SAME VALUE AS GRIDITEM HEIGHT*/); 
    grid-gap: 7px;
    
    padding: 10px;
    margin-right: 10px;
    overflow-y: scroll;
}
.mostT {
    grid-area: mostT;
    padding: 0 0 0 10px;
}
.most {
    grid-area: most;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(50vw / 4 * 1.43); 
    grid-gap: 15px;
    
    padding: 10px;
}
.suggestedT {
    grid-area: suggestedT;
    padding: 0 0 0 10px;
}
.suggested {
    grid-area: suggested;
    
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: calc( 50vw / 4.5 * 1.43); 
    grid-gap: 15px;
    
    padding: 10px;
}

/* grid-item styles */
.grid-item {
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: inset 0px 0px 39px 0px rgba(0,0,0,0);
    transition: box-shadow .15s;
    height: calc(50vw / 6 * 1.43); /* WARNING SAME VALUE AS GRID ROW HEIGHT*/
    position: relative;
}
.grid-item:hover {
    box-shadow: inset 0px 0px 39px 0px rgba(0,0,0,0.21);
}
.grid-item:hover > .grid-icon {
    display: inline-block;
}
.alt {
    height: auto;
}
.grid-item > div {
    height: 100%;
    width: 100%;
    opacity: 1;
    background-size: cover;
    background-position: center center;
    transition: opacity .15s;
}
.grid-item > div:hover, .grid-item.controller-active {
    opacity: 0.65;
}
.highlight {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    height: auto;
}
.grid-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    display: none;
    color: #565656;
    cursor: pointer;
    z-index: 5;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}
.grid-icon:hover {
    color: #222;
}
/* screen styles */

.screen {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    opacity: 1;
    transition: opacity 1s;
    background-image: url('../img/bg/screen_bg.jpg');
    background-size: cover;
}
.screen-content {
    margin: auto; 
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 30px;
    z-index: 4;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 1s;
}
.button {
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 40px;
    color: #000;
    border-color: #989898;
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.05);
    margin: 2px;
}
.button:hover, .button.controller-active {
    background-color: #d3d3d3;
}
.button:active {
    background-color: #c1c1c1;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0);
}
.button-small {
    padding: 10px;
}


/* modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    opacity: 0;
    transform: translateY(0);
    transition: opacity .5s;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
}
.modal-content {
    background-color: #D8E1E3;
    margin: auto; 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    z-index: 4;
    overflow: hidden;
}
.close {
    color: #aaa;
    position: absolute;
    right:15px;
    top:15px;
    font-size: 28px;
    font-weight: bold;
    z-index: 99;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-grid-game {
    width: 100%;
    height: 100%;
    transition: left 1s;
    
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 5fr 5fr 40fr 10fr 40fr;
    grid-gap: 15px;
    
    margin-bottom: 15px;
    
    grid-template-areas:
        "art title"
        "art buttons"
        "art desc"
        "ssT ssT"
        "ss ss";
}
.modal-grid-game > .art {
    grid-area: art;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.art > img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
    box-shadow: 0 0 0 #000;
}
.modal-grid-game > .title {
    grid-area: title;
    padding: 0;
}
.modal-grid-game > .buttons {
    grid-area: buttons;
}
.modal-grid-game > .desc {
    grid-area: desc;
    padding-right: 100px;
    max-height: 55%;
    overflow: auto;
}
.modal-grid-game > .ssT {
    grid-area: ssT;
}
.modal-grid-game > .ss {
    grid-area: ss;
    overflow-y: scroll;
}
.ss img {
    height: 90%;
    width: auto;
    margin: 0 20px;
    border-radius: 20px;
}

.modal-grid-game-settings {
    width: 100%;
    height: 100%;
    transition: left 1s;
    
    display: grid;
    grid-template-columns: 4fr 7fr 9fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
    padding: 25px;
    
    grid-template-areas:
        "art sect1 sect2";
}

.modal-grid-game-settings .art {
    grid-area: art;
    width: 100%;
    height: 100%;
}
.modal-grid-game-settings .art img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 0 #000;
}
.modal-grid-game-settings .sect1 {
    grid-area: sect1;
}
.modal-grid-game-settings .sect2 {
    grid-area: sect2;
}

.dropdown {
    position: relative;
    width: 50%;
    display: inline-block;
    margin-bottom: 1em;
}
.dropdown .head {
    background-color: #fafafa;
    padding: 5px 10px;
    cursor: pointer;
}
.dropdown .head:hover {
    background-color: #d2d9ef;
}
.dropdown .items {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 99;
    background-color: #fff;
    transition: height 1s;
}
.dropdown .visible {
    height: auto;
}
.dropdown .items .item {
    width: 100%;
    background-color: #f5f5f5;
    padding: 5px 10px;
}
.dropdown .items .item:hover {
    background-color: #d2deff;
}
.dropdown span {
    padding-left: 5px;
}

.tgl-light {
    display: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 3em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    margin-bottom: 1em;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
    background: #9fa3d6;
}

#slidecontainer {
    width: 80%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #a3c2d8;
    height: 10%;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2440ce;
    cursor: pointer;
    border-radius: 100%;
}

/* typography styles */
.txt-c-blue {
    color: #0099FF;
}
.txt-c-gray {
    color: #746c7b;
}
.txt-c-black {
    color: #000000;
}
.txt-c-white {
    color: #FFFFFF;
}

.txt-small {
    font-size: smaller;
}
.txt-up {
    text-transform: uppercase;
}
.txt-margin {
    margin: 25px;
}
.txt-bold {
    font-weight: bold;
}
.txt-hover:hover {
    color: #000;
    cursor: pointer;
}

.txt-s-64 {
    font-size: 64px;
}
.txt-s-48 {
    font-size: 48px;
}
.txt-s-38  {
    font-size: 38px;
}
.txt-s-32 {
    font-size: 32px;
}
.txt-s-24 {
    font-size: 24px;
}
.txt-s-16 {
    font-size: 16px;
}
.txt-s-12 {
    font-size: 12px;
}
@media only screen and (min-width: 1440px) {
    .txt-s-64 {
        font-size: 69px;
    }
    .txt-s-48 {
        font-size: 53px;
    }
    .txt-s-38  {
        font-size: 43px;
    }
    .txt-s-32 {
        font-size: 37px;
    }
    .txt-s-24 {
        font-size: 29px;
    }
    .txt-s-16 {
        font-size: 21px;
    }
    .txt-s-12 {
        font-size: 17px;
    }
        
    .modal-content {
        padding: 30px;
        border-radius: 40px;
    }

    .modal-grid-game {
        grid-gap: 20px;
    }
    .button {
        margin: 5px;
        padding: 20px 80px;
    }
    .button-small {
        padding: 15px;
    }
    
    .art > img {
        border-radius: 40px;
    }
    
    .games {
        grid-gap: 10px;
    }
    
    .grid-item {
        border-radius: 20px;
    }
}
@media only screen and (min-width: 2360px) {
    .txt-s-64 {
        font-size: 79px;
    }
    .txt-s-48 {
        font-size: 63px;
    }
    .txt-s-38  {
        font-size: 53px;
    }
    .txt-s-32 {
        font-size: 47px;
    }
    .txt-s-24 {
        font-size: 39px;
    }
    .txt-s-16 {
        font-size: 31px;
    }
    .txt-s-12 {
        font-size: 27px;
    }
        
    .modal-content {
        padding: 50px;
    }

    .modal-grid-game {
        grid-gap: 30px;
    }
}