/*
TODO:

- change font to segoe (make it a webfont)
- fix settings button look.
- fix cemUI logo look (UI to top.)
- add "+" to add games.
- modal layouts:
    - game modal (screenshot styling and box art size fixing)
    - game settings modal
    - settings modal
    - input settings modal
- screens (only background left);
- super mario maker:
    - first start api key.
    - main courses layout.

*/


/* global styles */

@font-face {
    font-family: wlm;
    src: url('../fonts/wlm black.ttf');
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #647788;
  border: 0px none #ffffff;
  border-radius: 72px;
}
::-webkit-scrollbar-thumb:hover {
  background: #675a71;
}
::-webkit-scrollbar-thumb:active {
  background: #47455c;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Segoe UI,'wlm',Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background: -webkit-linear-gradient(top, rgb(100, 224, 133) 0%, rgb(252, 255, 232) 0%, rgba(96,130,185,1) 100%);
    background-attachment: fixed;
    overflow: hidden;
}
h2, p {
    margin: 0;
    padding: 0;
}

/* main layout styles */
#main {

    display: none;

    height: 100vh;
    width: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 2fr 38fr 2fr 36fr 12fr;
    grid-template-areas:
        "title settings"
        "gamesT mostT"
        "games most"
        "games suggestedT"
        "games suggested"
        "whitespace whitespace";
    
    transition: filter 1s;
}
.title {
    grid-area: title;
    padding: 10px;
}
.settings {
    grid-area: settings;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content:flex-end;
    padding-right: 20px;
}
.settings-container {
    color: #746c7b;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content:flex-end;
    cursor: pointer;
}
.settings-container:hover {
    color: #000;
}
.txt-settings {
    display: inline-block;
    margin-right: 10px;
}
.gamesT {
    grid-area: gamesT;
    padding: 0 0 0 10px;
}
.games {
    grid-area: games;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(50vw / 6));
    grid-template-rows: repeat(auto-fill, calc(50vw / 6 * 1.43) /* WARNING SAME VALUE AS GRIDITEM HEIGHT*/); 
    grid-gap: 15px;
    
    padding: 10px;
    margin-right: 10px;
    overflow-y: scroll;
}
.mostT {
    grid-area: mostT;
    padding: 0 0 0 10px;
}
.most {
    grid-area: most;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(50vw / 4 * 1.43); 
    grid-gap: 15px;
    
    padding: 10px;
}
.suggestedT {
    grid-area: suggestedT;
    padding: 0 0 0 10px;
}
.suggested {
    grid-area: suggested;
    
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: calc( 50vw / 4.5 * 1.43); 
    grid-gap: 15px;
    
    padding: 10px;
}

/* grid-item styles */
.grid-item {
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: inset 0px 0px 39px 0px rgba(0,0,0,0);
    transition: box-shadow .15s;
    height: calc(50vw / 6 * 1.43); /* WARNING SAME VALUE AS GRID ROW HEIGHT*/
    position: relative;
}
.grid-item:hover {
    box-shadow: inset 0px 0px 39px 0px rgba(0,0,0,0.21);
}
.grid-item:hover > .grid-icon {
    display: inline-block;
}
.alt {
    height: auto;
}
.grid-item > div {
    height: 100%;
    width: 100%;
    opacity: 1;
    background-size: cover;
    transition: opacity .15s;
}
.grid-item > div:hover, .controller-active {
    opacity: 0.65;
}
.highlight {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    height: auto;
}
.grid-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    display: none;
    color: #565656;
    cursor: pointer;
    z-index: 5;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}
.grid-icon:hover {
    color: #222;
}
/* screen styles */

.screen {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    opacity: 1;
    transition: opacity 1s;
    background-image: url('../img/bg/screen_bg.jpg');
    background-size: cover;
}
.screen-content {
    margin: auto; 
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 30px;
    z-index: 4;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 1s;
}
.button {
    display: inline-block;
    background-color: #fff;
    padding: 10px 40px;
    color: #000;
    border-color: #989898;
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.05);
    margin: 2px;
}
.button:hover {
    background-color: #d3d3d3;
}
.button:active {
    background-color: #c1c1c1;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0);
}
.button-small {
    padding: 10px;
}


/* modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    opacity: 0;
    transition: opacity .5s;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
}
.modal-content {
    background-color: #D8E1E3;
    margin: auto; 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    z-index: 4;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-grid-game {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 5fr 5fr 40fr 10fr 40fr;
    grid-gap: 15px;
    
    grid-template-areas:
        "art title"
        "art buttons"
        "art desc"
        "ssT ssT"
        "ss ss";
}
.modal-grid-game > .art {
    grid-area: art;
    height: calc(50vw / 3);
    width: calc(50vw / 4.5);
}
.art > img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.modal-grid-game > .title {
    grid-area: title;
    padding: 0;
}
.modal-grid-game > .buttons {
    grid-area: buttons;
}
.modal-grid-game > .desc {
    grid-area: desc;
    padding-right: 100px;
    max-height: 55%;
    overflow: auto;
}
.modal-grid-game > .ssT {
    grid-area: ssT;
}
.modal-grid-game > .ss {
    grid-area: ss;
}

/* typography styles */
.txt-c-blue {
    color: #0099FF;
}
.txt-c-gray {
    color: #746c7b;
}
.txt-c-black {
    color: #000000;
}
.txt-c-white {
    color: #FFFFFF;
}

.txt-small {
    font-size: smaller;
}
.txt-up {
    text-transform: uppercase;
}
.txt-margin {
    margin: 25px;
}
.txt-bold {
    font-weight: bold;
}
.txt-s-64 {
    font-size: 64px;
}
.txt-s-48 {
    font-size: 48px;
}
.txt-s-38  {
    font-size: 38px;
}
.txt-s-32 {
    font-size: 32px;
}
.txt-s-24 {
    font-size: 24px;
}
.txt-s-16 {
    font-size: 16px;
}
.txt-s-12 {
    font-size: 12px;
}