* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

html, body, .col-md-12, .row {
	height: 100%;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    opacity: 0.3;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    left: 20px;
}

.material-icons.disabled {
  color: #f55;
}

.display-options {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.display-options .display-option i {
  font-size: 64px;
}
.popover * {
  color: black !important;
}

.dark {
  background-color: #50545b;
}
.dark * {
  color: white;
}

.dark-themeable .nav-link {
  color: #003563;
}
.dark-themeable .nav-link.active {
  color: #0275d8;
}
.dark-themeable.dark .nav-link {
  color: #A7A7A7;
}
.dark-themeable.dark .nav-link.active {
  color: white;
}

.controls {
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
}
.controls .navbar-collapse ul {
    -webkit-app-region: no-drag;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
	-webkit-app-region: no-drag;
}
h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none;
}
body {
  margin: 0;
}

.modal-dialog {
  height: 90%;
}

.modal-content {
  min-height: 90%;
  border-radius: 0;
}
.settings-wrapper {
  height: 100%;
}
.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-content, .modal-body {
  height: 90%;
}

.settings-tabs {
  border-right: 1px solid #eceeef;
}

.row > div {
  height: 100%;
}

::-webkit-scrollbar {width: 0; visibility: none;}
::-webkit-scrollbar-track {border-radius: 0; visibility: none;}
::-webkit-scrollbar-thumb {border-radius: 0; visibility: none;}

.navbar .dropdown-menu {
  margin-top: 7.5px;
}

.dropdown-menu {
  border-radius: 0;
}
 i.launch {
  color: #00d255;
 }

.container-fluid {
  cursor: default;
}

.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
}

#btn-back, #btn-launch {
  border-radius: 0;
  margin-right: 0;
}

.navbar {
  border-radius: 0;
}

.loader-container {
  margin-top: 250px;
}

.loader {
	position: relative;
	width: 100%;
	height: 100%;
}

.dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: #ccc;
	position: absolute;
}

.dot_1 {
	animation: animateDot1 1.5s linear infinite;
	left: 12px;
	background: #e579b8;
}

.dot_2 {
	animation: animateDot2 1.5s linear infinite;
	animation-delay: 0.5s;
	left: 24px;
}

.dot_3 {
	animation: animateDot3 1.5s linear infinite;
	left: 12px;
}

.dot_4 {
	animation: animateDot4 1.5s linear infinite;
	animation-delay: 0.5s;
	left: 24px;
}

.content-main {
  padding-top: 3em;
}

.display-text-rows {
  display: none;
}

.content-details {
  display: none;
  padding-top: 3em;
  position: absolute;
  top: 0;
  opacity: 0;
  color: white;
}

#details-title {
  background: none;
  border: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
#details-overview {
  width: 100%;
}
#overview-wrapper {
  height: 250px;
  width: 100%;
  overflow: hidden;
  font-size: 1em;
}


.bg-image {
  display: none;
  opacity: 0;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:-5000;
  filter: blur(1.5px) brightness(25%);
}

.btn-window-option {
    font-size: 24px;
  	background: none;
  	border: none;
  	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.btn-window-option:hover {
  	cursor: pointer; cursor: hand;
}

.game-cover {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 100%; display: block;
}
.game-loaded-info {
	padding-bottom: 1.5em;
}


.game-loaded-info > .card > .card-img-overlay {
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 0.5s;
}
.game-loaded-info:hover > .card > .card-img-overlay {
  	visibility: visible;
  	opacity: 1;
  	transition: visibility 0s, opacity 0.5s;
}

.game-loaded-info:hover > .card > .game-cover {
	-webkit-filter: brightness(40%);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
.dropdown-toggle::after {
    display:none
}

.top-padding-5 { margin-top:5%; }
.top-padding-10 { margin-top:10%; }
.top-padding-15 { margin-top:15%; }
.top-padding-20 { margin-top:20%; }
.top-padding-25 { margin-top:25%; }
.top-padding-30 { margin-top:30%; }


@keyframes animateDot1 {
  	0% {
    	transform: rotate(0deg) translateX(-12px);
  	}
  	25% {
    	transform: rotate(180deg) translateX(-12px);
  	}
  	75% {
    	transform: rotate(180deg) translateX(-12px);
  	}
  	100% {
    	transform: rotate(360deg) translateX(-12px);
  	}
}
@keyframes animateDot2 {
  	0% {
    	transform: rotate(0deg) translateX(-12px);
  	}
  	25% {
    	transform: rotate(-180deg) translateX(-12px);
  	}
  	75% {
    	transform: rotate(-180deg) translateX(-12px);
  	}
  	100% {
    	transform: rotate(-360deg) translateX(-12px);
  	}
}
@keyframes animateDot3 {
  	0% {
    	transform: rotate(0deg) translateX(12px);
  	}
  	25% {
    	transform: rotate(180deg) translateX(12px);
  	}
  	75% {
    	transform: rotate(180deg) translateX(12px);
  	}
  	100% {
    	transform: rotate(360deg) translateX(12px);
  	}
}
@keyframes animateDot4 {
  	0% {
    	transform: rotate(0deg) translateX(12px);
  	}
  	25% {
    	transform: rotate(-180deg) translateX(12px);
  	}
  	75% {
    	transform: rotate(-180deg) translateX(12px);
  	}
  	100% {
    	transform: rotate(-360deg) translateX(12px);
  	}
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

@media (max-width: 575px) {
  .settings-tabs {
    width: 40%;
  }
  .settings-content {
    width: 60%;
  }
  .modal-dialog {
    max-width: 400px;
    margin: 60px auto;
  }
}