@font-face {
    font-family: 'smmfont';
    src: url('../fonts/smmfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #647788;
  border: 0px none #ffffff;
  border-radius: 72px;
}
::-webkit-scrollbar-thumb:hover {
  background: #675a71;
}
::-webkit-scrollbar-thumb:active {
  background: #47455c;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'OpenSans';
}
body {
    overflow: hidden;
}
.hidden {
    display: none !important;
}
#webview {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.screens .screen-overlay {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    background: #fefefe;
    color: #FFFFFF;
    transition: left 1s;
}
.closed, .screens .closed {
    display: none;
}
.screens .progress {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    padding: 25px;
    overflow: hidden;
}
.screens .progress .ball {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #d6d6d6;
}
.screens .progress .selected {
    background-color: #4696f4;
}
#smm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
    transition: top .5s;
}
#smm .main {
    background-color: #086a9a;
    display: none;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}
#smm .colm {
    width: calc(50% - 50px);
    padding: 25px;
    display: inline-block;
}
#smm .colm:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 0;
}
#smm .course {
    width: 100%;
    margin-bottom: 25px;
    display: inline-block;
    background-color: #f9db00;
    border-radius: 10px;
    overflow: hidden;
    height: 355px;
    transition: height .5s;
    cursor: pointer;
}
#smm .course:hover {
    height: 530px;
}
#smm .course .title {
    display: inline-block;
    width: 100%;
    background-color: #28AD8A;
    overflow: hidden;
}
#smm .course .title.normal {
    background-color: #2691BC;
}
#smm .course .title.expert {
    background-color: #EA348B;
}
#smm .course .title.super-expert {
    background-color: #FF4545;
}
#smm .course .title p {
    padding: 5px 15px;
    display: inline-block;
}
.left {
    float: left;
}
.right {
    float: right;
}
#smm .course .content {
    height: auto;
    padding: 5px 15px;
}
#smm .course .content .img_container.img_preview {
    clear: both;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.24);
}
#smm .course .content .img_container img {
    height: 100%;
    max-width: 100%;
}
#smm .course .content .img_container.img_thumbnail {
    max-width: 50%;
    margin-bottom: 5px;
    height: 240px;
    width: 320px;
}
#smm .course .content .details {
    margin-left: calc(50% + 15px);
}
#smm .course .content .details .type {
    height: 24px;
    width: 50px;
}
#smm .course .content .details .owner {
    padding: .75em;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#smm .course .content .details .type-0 {
    background: url('../images/image.png') 0 0;
}
#smm .course .content .details .type-1 {
    background: url('../images/image.png') 0 -29px;
}
#smm .course .content .details .type-2 {
    background: url('../images/image.png') 0 -87px;
}
#smm .course .content .details .type-3 {
    background: url('../images/image.png') 0 -58px;
}
#smm .course .content .details div {
    margin-bottom: 10px;
}
#smm .course .footer {
    clear: both;
    padding: 10px 15px;
}
#smm .main .wrapper {
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 0;
    width: 100%;
    position: relative;
    overflow-y: auto;
}
#smm .main .header {
    background-color: #283138;
    padding: 1em 0;
    overflow: hidden;
}
#smm .main .header h1 {
    margin: 0;
    margin-right: 25px;
}
#smm .main .header h1:first-child {
    float: left;
}
#smm .main .header div.close {
    display: inline-block;
    height: 100%;
}
#smm .overlay {
    height: 100%;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
}
#smm .overlay > div:first-child {
    width: 100%;
    height: 50%;
    background-color: #f9db00;
    color: #000;
    position: relative;
    transition: right .5s,top .5s;
    right: 100%;
    top: 0%;
}
#smm .overlay > div > div {
    margin-left: 320px;
}
#smm .overlay > div > div > h1 {
    display: inline-block;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: left;
}
#smm .overlay > div:first-child > div {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-right: 320px;
}
#smm .overlay > div:nth-child(2) {
    width: 100%;
    height: 50%;
    background-color: #283138;
    color: #f9db00;
    position: relative;
    left: 100%;
    bottom: 0%;
    transition: left .5s,bottom .5s;
}
#smm #smm-wrapper-player-courses .course {
    height: 530px;
}
#smm #smm-wrapper-player-courses .course:hover {
    cursor: default;
}
#smm #smm-wrapper-player-courses .course .img_container div {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.72);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}
#smm #smm-wrapper-player-courses .course .img_container div p {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
#smm #smm-wrapper-player-courses .course .img_container:hover div {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.course .img_container {
    position: relative;
}

#dl {
    display: none;
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #EFEFEF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    transition: top .5s;
}

.header {
    width: 100%;
    padding: 25px 0 0 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
}
.header h2 {
    margin: 0;
}
.header .close {
    display: inline-block;
}


.popup-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
    width: 100%;
    height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 99;
}
.popup-overlay .popup {
  background: #fff;
  border-radius: 5px;
  width: 30%;
  margin: 70px auto;
  z-index: 10;
    overflow: hidden;
  transition: all 0.6s ease-in-out;
}
.popup-overlay .popup h2, .popup-overlay .popup .content {
    padding: 0 25px 25px 25px;
}
.popup-overlay .popup .button {
    width: 100%;
    background-color: #ffffff;
    padding: 25px 0;
    border-top: 1px #f2f2f2 solid;
    text-align: center;
    cursor: pointer;
}
.popup-overlay .popup .button:hover {
    background-color: #e8e8e8;
}
@media screen and (max-width: 768px){
  .box{
    width: 70%;
  }
  .popup-overlay .popup{
    width: 70%;
    left: 15%;
  }
}
#dl .loading-overlay {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    background: #fefefe;
    color: #FFFFFF;
}
#dl .sidenav {
    overflow: hidden;
    height: 100%;
    width: 0;
    transition: 0.5s;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
}
#dl .sidenav .sidenavcontainer {
    height: 100%;
    width: 500px; 
    background-color: #f7f7f7; 
    overflow-x: hidden; 
    transition: 0.5s; 
}

.sidenav .close_btn {
    padding: 2em;
    text-align: center;
}

.sidenav .dl_item {
    padding: 1em;
    border-width: 0;
    border-top-width: 2px;
    border-style: solid;
    border-color: #dddddd;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#dl .main {
    overflow-x: hidden;
    overflow-y: auto;
    width: calc(100% - 50px);
    margin: 25px;
    -webkit-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    align-content:space-between;
    justify-content: space-around;
}
#dl .item_container {
    width: calc(25% - 50px - 4px);
    border-color: #e0e0e0;
    border-width: 2px;
    border-style: solid;
    margin: 25px;
    padding: 0;
    position: relative;
    padding-bottom: 80px;
}
#dl .item_container .download {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
#dl .item_container img {
    height: auto;
    width: 100%;
}
#dl .item_container .content {
    padding: 0 10px;
}
@media only screen and (min-width: 1440px) {
    #dl .item_container {
        width: calc(20% - 50px - 4px);
    }
}
@media only screen and (min-width: 2360px) {
    #dl .item_container {
        width: calc(20% - 50px - 4px);
    }
}

#dl .item_container .download_container {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: none;
}
#dl .item_container .overlayL {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    padding: 8px;
    color: #fff;
    border-bottom-right-radius: 5px;
    background-color: rgba(0, 0, 0, 0.22);
}
#dl .item_container .overlayR {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    padding: 8px;
    color: #fff;
    border-bottom-left-radius: 5px;
    background-color: rgba(0, 0, 0, 0.22);
}
.download_bar {
    width: 100%;
    height: 4px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.04);
}
.download_ind {
    width: 0px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #738ed6;
}

#menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    display: none;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    transition: opacity .25s;
}
#menu .header {
    overflow: hidden;
}
#menu .container {
    width: 50%;
    min-width: 500px;
    position: relative;
    left: 0;
    top: 0;
    background-color: #efefef;
    overflow: hidden;
    height: 100%;
    transition: left .25s;
}
#menu .slide-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #efefef;
    width: 100%;
    overflow-x: hidden;
    transition: left .25s;
}
#menu .slide-hidden {
    left: -100%;
}
#menu hr {
    width: 100%;
    height: 1px;
    opacity: 0.4;
}
#menu .padding {
    margin: 5px 25px;
}
#menu .bigpadding {
    padding: 10px 50px;
}
#menu .txt-hover-blacktoblue {
    color: black;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    transition: all .15s;
}
#menu .txt-hover-blacktoblue:hover {
    color: white;
    background-color: #0099FF;
}
#menu .txt-hover-blacktoblue:hover .txt-c-blue {
    color: white;
}







.txt-link {
    position: relative;
    cursor: pointer;
}
.txt-link::after {
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: left .25s, width .25s;
}
.txt-link-white-blue {
    color: #746c7b;
    margin: 10px 30px;
}
.txt-link-white-blue:hover,.menu-active {
    color: #0099FF;
}
.txt-link-white-blue::after,.menu-active::after {
    width: 0%;
    left: 50%;
    background-color: #0099FF;
}
.txt-link-white::after {
    background-color: #d9d9d9;
}
.txt-link-black::after {
    background-color: #2c2c2c;
}
.txt-link-blue::after {
    background-color: #0099FF;
}
.txt-link:hover::after,.menu-active::after {
    left: -25%;
    width: 150%;
}

.img-cap-white {
    color: #d9d9d9;
}
.img-cap-black {
    color: #2c2c2c;
}

.txt-c-blue {
    color: #0099FF;
}
.txt-c-gray {
    color: #746c7b;
}
.txt-c-black {
    color: #000;
}
.txt-c-dark {
    color: #393939;
}
.txt-c-white {
    color: #FFFFFF;
}
.txt-c-purple {
    color: #FF00FF;
}
.txt-c-yellow {
    color: #f9db00;
}

.txt-pad-lr {
    padding: 0 25px;
}
.txt-font-smm {
    font-family: 'smmfont';
}
.txt-semibold {
    font-family: 'OpenSansSemiBold';
}
.txt-bold {
    font-family: 'OpenSansBold';
}
.txt-extrabold {
    font-family: 'OpenSansExtraBold';
}
.txt-light {
    font-family: 'OpenSansLight';
}
.input-text-smm {
    height: 100%;
    width: 400px;
    padding: 18px 40px;
    background-color: #394852;
    border: none;
    border-radius: 5px;
    margin: 0 20px;
    box-shadow: 0px 6px 0px 0px rgba(1,1,1,0.1);
}
.input-text-smm:focus, .input-text-smm:active {
    outline: none;
    border-color: #394852;
    background-color: #475864;
}
.input-text-game-dl {
    height: 100%;
    width: 400px;
    padding: 18px 40px;
    border: none;
    border-radius: 5px;
    margin: 0 20px;
    box-shadow: 0px 6px 0px 0px rgba(1,1,1,0.1);
}
.input-text-game-dl:focus, .input-text-game-dl:active {
    outline: none;
}
.txt-button {
    background-color: #303C44;
    border-radius: 5px;
    box-shadow: 0px 6px 0px 0px rgba(1,1,1,0.1);
    padding: 20px 40px;
    margin-top: 0 !important;
    margin-bottom: 4px !important;
    cursor: pointer;
    display:inline-block;
}
.txt-button-white {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px 0px rgba(1,1,1,0.1);
    margin: auto;
    text-align: center;
}
.txt-button-blue {
    background-color: #0085de;
    box-shadow: 0px 6px 0px 0px #0068ad;
    margin: auto;
    text-align: center;
}
.txt-button-large {
    width: 50%;
}
.txt-button:hover {
    background-color: #394852;
}
.txt-button-white:hover  {
    background-color: #e6e6e6;
}
.txt-button-blue:hover  {
    background-color: #0071bc;
}
.txt-button:active, .txt-button:focus {
    margin-top: 4px !important;
    margin-bottom: 0 !important;
    box-shadow: 0px 2px 0px 0px rgba(1,1,1,0.1);
}
.txt-button-blue:active, .txt-button-blue:focus {
    margin-top: 4px !important;
    margin-bottom: 0 !important;
    box-shadow: 0px 2px 0px 0px #0068ad;
}
.txt-button.disabled {
    cursor: not-allowed;
    color: #394852;
}

.txt-up {
    text-transform: uppercase;
}
.txt-center {
    text-align: center;
}

.txt-s-64 {
    font-size: 64px;
    line-height: 64px;
}
.txt-s-48 {
    font-size: 48px;
    line-height: 48px;
}
.txt-s-38  {
    font-size: 38px;
    line-height: 38px;
}
.txt-s-32 {
    font-size: 32px;
    line-height: 32px;
}
.txt-s-24 {
    font-size: 24px;
    line-height: 24px;
}
.txt-s-16 {
    font-size: 16px;
    line-height: 16px;
}
.txt-s-12 {
    font-size: 12px;
    line-height: 12px;
}