/* global styles */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Raleway';
    src: src: url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #647788;
  border: 0px none #ffffff;
  border-radius: 72px;
}
::-webkit-scrollbar-thumb:hover {
  background: #675a71;
}
::-webkit-scrollbar-thumb:active {
  background: #47455c;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway';
    font-size: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: #fff;
    overflow: hidden;
}
#header {
    padding: 1em;
    background-color: #F3F3F3;
    overflow: hidden;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}
#header .left {
    float: left;
}
#header .right {
    float: right;
}
#menu {
    width: 30vw;
    margin: 0 auto;
}
#menu ul {
    margin: 0;
    padding: 0;
    margin-left: -2em;
}
#menu ul li {
    display: inline;
    text-align: center;
}
#menu ul li h2 {
    display: inline-block;
    width: calc(100% / 3 );
    padding: .75rem 0 0 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}
#menu hr {
    height: .2rem;
    width: calc(100% / 3 / 16 * 10);
    margin-left: calc( (0%) + (100% / 3 / 16 * 3) );
    background-color: #FF00B2;
    border: none;
    border-radius: 20px;
    transition: .15s ease-in-out;
}
#menu ul li:hover {
    color: #ff93de;
}
#menu ul li:first-child:hover ~ hr {
    margin-left: calc( (0%) + (100% / 3 / 16 * 3) );
}
#menu ul li:nth-child(2):hover ~ hr {
    margin-left: calc( (100% / 3) + (100% / 3 / 16 * 3) );
}
#menu ul li:nth-child(3):hover ~ hr {
    margin-left: calc( (100% / 3 * 2) + (100% / 3 / 16 * 3) );
}

#sectionContainer {
    width: 70vw;
    height: 50vh;
    margin: 0 auto;
    overflow-y: scroll;
}
#games { 
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(70vw / 4 - 14px) );
    grid-auto-rows: calc(70vw / 4 / 1.43); 
    
    height: auto;
    
    padding: 10px;
    margin-right: 10px;
}
.grid-item {
    padding: 7px;
}
.grid-item > .game {
    background-color: #F3F3F3;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
/* typography styles */
.txt-c-blue {
    color: #0099FF;
}
.txt-c-gray {
    color: #746c7b;
}
.txt-c-black {
    color: #000000;
}
.txt-c-white {
    color: #FFFFFF;
}
.txt-c-purple {
    color: #FF00B2;
}

.txt-small {
    font-size: smaller;
}
.txt-up {
    text-transform: uppercase;
}
.txt-margin {
    margin: 25px;
}
.txt-bold {
    font-weight: bold;
}
.txt-extrabold {
    font-weight: 900;
}
.txt-hover:hover {
    color: #000;
    cursor: pointer;
}

.txt-s-64 {
    font-size: 64px;
}
.txt-s-48 {
    font-size: 48px;
}
.txt-s-38  {
    font-size: 38px;
}
.txt-s-32 {
    font-size: 32px;
}
.txt-s-24 {
    font-size: 24px;
}
.txt-s-16 {
    font-size: 16px;
}
.txt-s-12 {
    font-size: 12px;
}
@media only screen and (min-width: 1440px) {
    .txt-s-64 {
        font-size: 69px;
    }
    .txt-s-48 {
        font-size: 53px;
    }
    .txt-s-38  {
        font-size: 43px;
    }
    .txt-s-32 {
        font-size: 37px;
    }
    .txt-s-24 {
        font-size: 29px;
    }
    .txt-s-16 {
        font-size: 21px;
    }
    .txt-s-12 {
        font-size: 17px;
    }
        
    .modal-content {
        padding: 30px;
        border-radius: 40px;
    }

    .modal-grid-game {
        grid-gap: 20px;
    }
    .button {
        margin: 5px;
        padding: 20px 80px;
    }
    .button-small {
        padding: 15px;
    }
    
    .art > img {
        border-radius: 40px;
    }
    
    .games {
        grid-gap: 10px;
    }
    
    .grid-item {
        border-radius: 20px;
    }
}
@media only screen and (min-width: 2360px) {
    .txt-s-64 {
        font-size: 79px;
    }
    .txt-s-48 {
        font-size: 63px;
    }
    .txt-s-38  {
        font-size: 53px;
    }
    .txt-s-32 {
        font-size: 47px;
    }
    .txt-s-24 {
        font-size: 39px;
    }
    .txt-s-16 {
        font-size: 31px;
    }
    .txt-s-12 {
        font-size: 27px;
    }
        
    .modal-content {
        padding: 50px;
    }

    .modal-grid-game {
        grid-gap: 30px;
    }
}
