/*
header too large
remove time animation

*/
/* global styles */
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansLight';
    src: src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
::-webkit-scrollbar {
  width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #647788;
  border: 0px none #ffffff;
  border-radius: 72px;
}
::-webkit-scrollbar-thumb:hover {
  background: #675a71;
}
::-webkit-scrollbar-thumb:active {
  background: #47455c;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'OpenSans';
    font-size: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}
#main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
}
#header {
    width: 100%;
    padding: 25px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header h2 {
    margin: 0;
}
.square-cont {
    flex: 1;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 100px;
    width: auto;
    position: relative;
    right: 0;
}
.item {
    position: relative;
    max-height: 100%;
    height: 250px;
    width: 250px;
    display: inline-block;
    background-color: white;
    margin-left: 25px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: width .25s;
    overflow: hidden;
    background-image: url('http://cemui.com/api/v2/image/grid/00050000-1010ED00');
}
.item:hover {
    width: 400px;
}
.item div {
    backdrop-filter: blur(50px);  
    position: absolute;
    opacity: 1;
    left: 0;
    bottom: -100%;
    width: 100%;
    transition: bottom .35s;
    cursor: auto;
}
.item div p {
    padding: .75em 1em;
}
.item div p span {
    float: right;
    position: relative;
}
.item div p span::after {
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: left .25s, width .25s;
}
.img-cap-white div p span::after {
    background-color: #d9d9d9;
}
.img-cap-black div p span::after {
    background-color: #2c2c2c;
}
.item div p span:hover::after {
    left: -25%;
    width: 150%;
}
.item:hover div {
    opacity: 1;
    bottom: 0;
}



/* typography styles */

.img-cap-white {
    color: #d9d9d9;
}
.img-cap-black {
    color: #2c2c2c;
}

.txt-c-blue {
    color: #0099FF;
}
.txt-c-gray {
    color: #746c7b;
}
.txt-c-black {
    color: #000;
}
.txt-c-dark {
    color: #393939;
}
.txt-c-white {
    color: #FFFFFF;
}
.txt-c-purple {
    color: #FF00FF;
}

.txt-pad-lr {
    padding: 0 25px;
}
.txt-small {
    font-size: smaller;
}
.txt-up {
    text-transform: uppercase;
}
.txt-margin {
    margin: 25px;
}
.txt-semibold {
    font-family: 'OpenSansSemiBold';
}
.txt-bold {
    font-family: 'OpenSansBold';
}
.txt-extrabold {
    font-family: 'OpenSansExtraBold';
}
.txt-light {
    font-family: 'OpenSansLight';
}
.txt-hover:hover {
    color: #000;
    cursor: pointer;
}

.txt-s-64 {
    font-size: 64px;
}
.txt-s-48 {
    font-size: 48px;
}
.txt-s-38  {
    font-size: 38px;
}
.txt-s-32 {
    font-size: 32px;
}
.txt-s-24 {
    font-size: 24px;
}
.txt-s-16 {
    font-size: 16px;
}
.txt-s-12 {
    font-size: 12px;
}
@media only screen and (min-width: 1440px) {
    .txt-s-64 {
        font-size: 69px;
    }
    .txt-s-48 {
        font-size: 53px;
    }
    .txt-s-38  {
        font-size: 43px;
    }
    .txt-s-32 {
        font-size: 37px;
    }
    .txt-s-24 {
        font-size: 29px;
    }
    .txt-s-16 {
        font-size: 21px;
    }
    .txt-s-12 {
        font-size: 17px;
    }
        
    .modal-content {
        padding: 30px;
        border-radius: 40px;
    }

    .modal-grid-game {
        grid-gap: 20px;
    }
    .button {
        margin: 5px;
        padding: 20px 80px;
    }
    .button-small {
        padding: 15px;
    }
    
    .art > img {
        border-radius: 40px;
    }
    
    .games {
        grid-gap: 10px;
    }
    
    .grid-item {
        border-radius: 20px;
    }
}
@media only screen and (min-width: 2360px) {
    .txt-s-64 {
        font-size: 79px;
    }
    .txt-s-48 {
        font-size: 63px;
    }
    .txt-s-38  {
        font-size: 53px;
    }
    .txt-s-32 {
        font-size: 47px;
    }
    .txt-s-24 {
        font-size: 39px;
    }
    .txt-s-16 {
        font-size: 31px;
    }
    .txt-s-12 {
        font-size: 27px;
    }
        
    .modal-content {
        padding: 50px;
    }

    .modal-grid-game {
        grid-gap: 30px;
    }
}
