body {
    padding: 0;
    margin: 0;
}

#notify-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 999999;
    font-family:Arial;
}


.notify-btn {
    bottom: 0 !important;
    border: 1px solid #f0c36d;
    background: #f0c36d;
    color: #fff;
    display: inline-block;
    height: 60%;
    line-height: 20px;
    cursor: pointer;
}

.component-notify {
    width: 100%;
    position: relative;
    bottom: -60px;
    -moz-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    overflow: hidden;
    z-index: 999999;
}

    .component-notify.active {
        bottom: 0;
    }

    .component-notify.success {
        background-color: #5CB85C;
        border-bottom: 1px solid #339633;
    }

        .component-notify.success .--button-close {
            background-color: #339b33;
        }

    .component-notify.error {
        background-color: #D9534F;
        border-bottom: 1px solid #a52d2a;
    }

        .component-notify.error .--button-close {
            background-color: #cf3733;
        }

    .component-notify.warning {
        background-color: #d18922;
        border-bottom: 1px solid #b6700c;
    }

        .component-notify.warning .--button-close {
            background-color: #e3a54e;
        }

    .component-notify .--text {
        font-size: 18px;
        height: 60px;
        margin: 0 auto;
        width: 60%;
        line-height: 60px;
        text-align: center;
        color: #fff;
    }

    .component-notify .--button-close {
        text-align: center;
        line-height: 40px;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 50px;
        height: 100px;
        position: absolute;
        top: -33px;
        right: -18px;
        cursor: pointer;
    }

        .component-notify .--button-close span {
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 28px;
            left: 7px;
            color: #faebd7;
            font-size: 18px;
        }
