@font-face {
    font-family: wlm;
    src: url('../fonts/wlm black.ttf');
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgba(116, 108, 123, 0.4);
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

html, body {
    font-family: wlm;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 0%, rgba(96,130,185,1) 100%);
    -webkit-user-select: none;
    cursor: default;
}

html, body, #app {
    height: 100%;
}

h1 {
    margin: 0;
}

.typography-color-blue {
    color: #0099FF;
}
.typography-color-gray {
    color: #746C7B;
}
.typography-color-black {
    color: #000000;
}
.typography-color-white {
    color: #FFFFFF;
}

.typography-size-64 {
    font-size: 64px;
}
.typography-size-48 {
    font-size: 48px;
}
.typography-size-38 {
    font-size: 38px;
}
.typography-size-32 {
    font-size: 32px;
}
.typography-size-24 {
    font-size: 24px;
}
.typography-size-16 {
    font-size: 16px;
}
.typography-size-12 {
    font-size: 12px;
}

.typography-va-m {
    vertical-align: middle;
}

#app {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 2%;
    overflow: hidden;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
}

.header div {
    display: inline-block;
}

.header .logo, .header .logo span {
    float: left;
}

.header .logo span:nth-child(2) {
    vertical-align: top;
    line-height: 38px;
}

.header .settings-button {
    float: right;
}

.app-content {
    height: 80%;
    margin-top: 2%;
}

.app-content .section-1, .app-content .section-2 {
    float: left;
    height: 100%;
}

.app-content .section-1 {
    width: 32%;
    margin-right: 3%;
}

.app-content .section-2 {
    width: 65%;
}

.app-content .section-content {
    width: 95%;
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap; 
}

.app-content .section-1 div .section-content {
    margin-top: 10px;
}

.app-content .section-1 .recently-played .section-content .game {
    display: inline-block;
    width: 120px;
    height: 168px;
    border-radius: 10px;
    margin-right: 15px;
}

.app-content .section-1 .recently-played .section-content .game:last-of-type {
    margin-right: 0;
}

.app-content .section-1 .library .section-content .game {
    display: inline-block;
    width: 96px;
    height: 135px;
    border-radius: 10px;
}

.app-content .section-1 .game img {
    max-height: 100%;
    width: auto;
    border-radius: 10px;
}

.app-content .section-2 .now-playing, .app-content .section-2 .now-playing img {
    height: 100%;
    width: auto;
    border-radius: 25px;
    overflow: hidden;
}

.app-content .section-2 .now-playing img {
    -webkit-filter: blur(5px);
}
